@import '0common';

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

input {
  font-size: 12px;
}

fieldset {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px dotted gray;
  margin-bottom: 1.5em;
}

fieldset:first-of-type {
  border: 0;
}

legend {
  font-size: 130%;
  color: gray;
}

th, caption {
  @include background-gradient(#014464,#0272a7,#013953);
  color: white;
  padding: 5px;
}

th a {
  color: #F7F8E0;
}

td {
  padding: 2px .5em 2px .5em;
  vertical-align: top;
}

td a {
  text-decoration: none;
}

td a:hover {
  border-bottom: 1px dotted blue;
}

caption {
  /* Rounded upperCorners */
  @include border-radius(5px,5px,0,0);
}

textarea[readonly], input[readonly] {
  background: WhiteSmoke ;
  color: black;
}

@media print {
  body {
    font-size: 10px;
  }
  th {
    background-color: #888888;
    color: white;
    font-size: 10px;
  }
}
