/* @import '0common'; */

a {
  color: #0000FF;
  
  img {
    border: none;
  }
}

input {
  font-size: 12px;
  color: black;
  @include border-radius(2px, 2px, 2px, 2px);
}

fieldset {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  margin-bottom: 1.5em;
  padding: 0px 10px;
  @include border-radius(4px,4px,4px,4px);
  &:first-of-type {
/*     margin-top: 1.5em; */
  }
}

legend {
  font-size: 150%;
  color: black;
  border: 0;
  width: auto;
  padding: 0 5px;
}

th {
  vertical-align: middle;
  
  a {
    color: #F7F8E0;
  }
  
  input {
    color: black;
  }
}

th, caption {
  @include background-gradient(#014464,#0272a7,#013953);
  color: white;
  padding: 5px;

}

td {
  padding: 2px .5em 2px .5em;
  vertical-align: top;
  
  a {
    text-decoration: none;
    
    &:hover {
      border-bottom: 1px dotted blue;
    }
  }
}

caption {
  /* Rounded upperCorners */
  @include border-radius(5px,5px,0,0);
}

textarea[readonly], input[readonly] {
  background: LightPink;
  color: black;
}

@media print {
  body {
    font-size: 10px;
  }
  th {
    background-color: #888888;
    color: white;
    font-size: 10px;
  }
}
